@import url('../fonts/Raleway-VariableFont_wght.ttf');

body{
    background:#000000;
}

div{
    margin: auto;
}

p{
    font-family: Raleway;
}

img{
    display: block;
    margin:auto;
}

h1{
    text-align: center;
    -webkit-background-clip: text;
    background-image: linear-gradient(#33A8DB,#1472B7);
    color:transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 900;
}

h2{
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 600;
    letter-spacing: 3px;
    color:#31A8DD;
}

.banner-content>p{
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
    color:#ffffff;
}

.banner-content{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), 
    url('../images/banner.png');
    background-size: cover;
    padding-top: 60px;
    border-bottom: solid 1px #33A8DB80;
    text-align: center;
}

.logo>img{
    object-position: 50%;
    object-fit: contain;
    padding: 2%;
    border-radius: 300px;
    border: solid transparent;
}

button{
    text-align: center;
    width: 250px;
    height: 50px;
    font-family: Raleway;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 1%;
    margin-bottom: 5%;
    color:#33A8DB;
    background:transparent;
    border: #33A8DB 2px solid;
}

#course-content>p{
    text-align: center;
    object-position: 50%;
    padding: 2% 17%;
    line-height: 18.78px;
    color:#ffffff;
}

#course-content>h2{
    text-align: center;
    object-position: 50% 50%;
    line-height: 37.57px;
}

#course-content{
    padding-top:3%;
    padding-bottom:2%;
}

.module{
    text-align: center;
    font-family: Raleway;
    border: 2px solid #33A8DB;
    border-radius: 50px;
    background: linear-gradient(0deg, #252525, #252525);
    width: 500px;
    margin-bottom: 2%;
    padding: 1% 1%;
    color:#ffffff;
    box-shadow: inset -2px 6px 4px #00000066;

}

.module>span{
    color:#33A8DB;
}

#transform-world{
    background-size: 100%;
    background-position: center 42%;
    background-image: url('../images/woman-code.png');
}

#transform-world>p{
    text-transform: lowercase;
    color: #ffffff;
    text-shadow: 5px 3px #33A8DB;
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    padding-left: 9%;
    padding-right: 66%;
    padding-top: 85px;
    padding-bottom: 85px;
    border-top: solid 1px #33A8DB80;
    border-bottom: solid 1px #33A8DB80;
}

#professional-challenges>h2{
    text-align: center;
    object-position: 50% 50%; 
    color: #33A8DB;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 5% 3%;
}

#professional-challenges>p{
    padding:5% 20%;
    text-align: center;
    color:#ffffff;
}

footer{
    background: linear-gradient(180deg, rgba(51, 168, 219, 0) 0%, rgba(51, 168, 219, 0.2) 99.99%, rgba(51, 168, 219, 0.2) 100%)
    , #000000;
    border-top: solid 1px #33A8DB80;
    padding: 5% 2% 2%;
    text-align: center;
    color:#ffffff;
}

footer a{
    color:#33A8DB;
    text-decoration: none;
}